<script>
	import { Encoder, ErrorCorrectionLevel } from '@nuintun/qrcode';
	import {
		file_saver_png_helper,
		DEFAULT_QR_CODE_NAME_PNG,
		DEFAULT_QR_CODE_NAME_SVG
	} from '$lib/file_saver.js';
	
	import {
		file_saver_svg_helper,
	} from '$lib/own_svg_exporter.js';

	import ImageUploader from '../components/ImageUploader.svelte';


	import QRCodeDisplay from '../components/QRCodeDisplay.svelte';

	let text = 'https://github.com';
	let qr_code_m = [];
	let qr_code_size = [];
	const qrcode = new Encoder();
	let type_image = 1;
	let image_size = 70;

	qrcode.setEncodingHint(true);
	qrcode.setErrorCorrectionLevel(ErrorCorrectionLevel.H);

	let dark_color = '#000000';
	let background_rounded_color = '#ffffff';
	let light_color = '#ffffff';

	let image_src = '';

	let container_qr_code;

	$: {
		qrcode.clear();
		qrcode.write(text);
		qrcode.make();
		qr_code_m = [...qrcode.getMatrix()];
		qr_code_size = qrcode.getMatrixSize();
	}

	const remove_image = () => {
		image_src = '';
	};

	const export_svg = (e) => {
		file_saver_svg_helper(container_qr_code, DEFAULT_QR_CODE_NAME_SVG);
	};

	const export_png = (e) => {
		file_saver_png_helper(container_qr_code, DEFAULT_QR_CODE_NAME_PNG);
	};

	const no_color_bg = (e) => {
		light_color = 'none';
	}


</script>

<!-- 
	1. Page de login / check env.
	2. Header, Footer
	3. SQLITE

 -->
<ImageUploader bind:value={image_src} />

<div class="remove-imager" on:click={remove_image}>Remove-Image</div>

<label>
	<input type="radio" bind:group={type_image} name="scoops" value={1} />
	With clear rectangle
</label>

<label>
	<input type="radio" bind:group={type_image} name="scoops" value={2} />
	None
</label>

<label>
	<input type="radio" bind:group={type_image} name="scoops" value={3} />
	Round
</label>

<label>
	<input type="range" name="image_size" bind:value={image_size} min="0" max="100" />
	Image center size
</label>
<input bind:value={text} />
<input style="padding:0" type="color" bind:value={dark_color} />
<input style="padding:0" type="color" bind:value={light_color} />
<input style="padding:0" type="color" bind:value={background_rounded_color} />

<div class="" on:click={no_color_bg}>
	no background for clear cube
</div>
<div class="container">
	<QRCodeDisplay
		{background_rounded_color}
		matrix={qr_code_m}
		matrix_size={qr_code_size}
		image_url={image_src}
		{image_size}
		{type_image}
		{dark_color}
		{light_color}
		bind:container={container_qr_code}
	>
		<div class="center-container center-content-in-qr-code" slot="in_center">
			<img src="/favicon.png" />
			<p style="font-weight: 800; font-size: 30px;">J'aime le veau</p>
		</div>
	</QRCodeDisplay>

	<div class="download-svg" on:click={export_svg}>Download SVG</div>

	<div class="download-png" on:click={export_png}>Download PNG</div>
</div>

<style>

	.container {
		width: 100%;
		max-width: 600px;
	}

	.center-container {
		height: var(--height-in-center-qr-code, 13px);
	}

	img {
		height: 100%;
		background: green;
		border-radius: 15%;
	}
</style>
