<script>
  export let value;
  var loadFile = function(event) {
    value = URL.createObjectURL(event.target.files[0]);
  };
</script>

<p><input type="file"  accept="image/*" name="image" id="file" on:change={loadFile} style=""></p>

