<script>
	import { onMount } from 'svelte';
	import { calc_matrix_size_with_image_logic } from '$lib/matrix_display_calc.js';

	export let matrix = [];
	export let matrix_size = 0;
	export let image_url = '';
	export let light_color = '#ffffff';
	export let background_rounded_color = '#ffffff';
	export let dark_color = '#000000';
	export let type_image = 1;
	export let image_size = 70;

	export let container;

	let cube_wh = 5;

	let mount_done = false;

	let image_wh = 60;
	let final_matrix = [[]];

	onMount(() => {
		mount_done = true;
		resize_matrix();
	});

	$: {
		container, matrix, matrix_size, image_url, type_image;
		if (container) {
			console.log(container.constructor.name);
		}
		resize_matrix();
	}

	const resize_matrix = () => {
		const { new_matrix, cube_width_height, image_width_height } = calc_matrix_size_with_image_logic(
			container,
			JSON.parse(JSON.stringify(matrix)),
			matrix_size,
			image_url,
			type_image
		);
		final_matrix = new_matrix;
		cube_wh = cube_width_height;
		image_wh = image_width_height;
	};
</script>

<svelte:window on:resize={resize_matrix} />

<div
	class="container"
	bind:this={container}
	class:show={!mount_done}
	style={`--dark-color:${dark_color};--light-color:${light_color};--background-rounded-color:${background_rounded_color};--image-size:${image_size}%;`}
>
	{#each final_matrix as ligne}
		<div class="ligne">
			{#each ligne as cube}
				<div
					class={`cube ${cube ? 'black' : 'white'}`}
					style={`height: ${cube_wh}px; width: ${cube_wh}px`}
				/>
			{/each}
		</div>
	{/each}

	{#if image_url && image_url !== ''}
		<div
			class={`container-image ${type_image === 3 ? 'rounded' : ''}`}
			style={`height: ${image_wh}px; width: ${image_wh}px`}
		>
			<img src={image_url} alt="logo_entreprise" />
		</div>
	{:else if $$slots.in_center}
		<div
			class="center"
			style={`--height-in-center-qr-code: ${image_wh}px; --width-in-center-qr-code: ${image_wh}px`}
		>
			<slot name="in_center" />
		</div>
	{/if}
</div>

<style>
	.container {
		width: 100%;
		height: 100%;
		opacity: 1;
		z-index: 1;
		position: relative;
		display: flex;
		flex-direction: column;
		align-content: center;
		align-items: center;
		justify-content: center;
		flex-wrap: nowrap;
	}

	.container-image {
		z-index: 10;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		transition: none;
		object-fit: contain;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.container-image.rounded {
		background: var(--background-rounded-color, '#fff');
		border-radius: 50%;
	}

	.container-image img {
		height: var(--image-size, '70%');
	}

	.show {
		opacity: 0;
	}

	.cube {
		height: 5px;
		width: 5px;
	}

	.cube.black {
		background-color: var(--dark-color, '#000000');
	}

	.cube.white {
		background-color: var(--light-color, '#ffffff');
	}

	.ligne {
		display: flex;
		flex-wrap: nowrap;
		margin: 0 auto;
	}

	:global(.center-content-in-qr-code) {
		z-index: 10;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		transition: none;
		object-fit: contain;
		display: flex;
		align-items: center;
		justify-content: center;
	}
</style>
